* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px solid rgb(47, 228, 183); */
}

/* custom properties */

:root {
  --ff-primary: "Rubik Mono One", "Gentium Book Plus", sans-serif;

  --clr-light: white;
  --clr-dark: rgb(67, 29, 117);
  --clr-fade: rgb(148, 148, 148);
  --clr-right: rgb(53, 228, 53);
  --clr-wrong: rgb(231, 71, 71);
}

/* button styling */

.btn {
  text-decoration: none;
  border-radius: 5px;
  background: var(--clr-dark);
  color: var(--clr-light);
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 var(--clr-dark);
  transition: transform 150ms;
  transform: scale(1.03);
}

/* body */
/* .hidden {
  display: none;
} */

/* outer container */

.outer-container {
  background-color: var(--clr-fade);
  font-family: var(--ff-primary);
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* top bar */

.top-bar p {
  float: right;
}
#view_hs {
  display: flex;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-fade);
  font-family: var(--ff-primary);
  font-weight: 500;
}
#view_hs:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 var(--clr-dark);
  transition: transform 150ms;
  transform: scale(1.03);
}

.timer {
  display: flex;
}

/* inner container */

.inner-container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: block;
  flex-direction: column;
  justify-content: center;
}
.inner-container p {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}
h1,
h2 {
  text-align: center;
}

/* header */

.quiz-intro {
  margin-top: 10vh;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}
.quiz-intro h1 {
  margin-bottom: 2em;
}
.quiz-intro button {
  margin-left: 38%;
}

/* main container */

main {
  display: block;
}

/* question screen */

.question-screen {
  display: none;
  margin-top: 30vh;
}
.question-screen h2 {
  margin-bottom: 2em;
}
#question1 {
  display: none;
}
#question2 {
  display: none;
}
#question3 {
  display: none;
}
#question4 {
  display: none;
}
#question5 {
  display: none;
}
#question6 {
  display: none;
}
#question7 {
  display: none;
}
#question8 {
  display: none;
}
#question9 {
  display: none;
}
#question10 {
  display: none;
}
#next {
  display: none;
  background-color: var(--clr-wrong);
  font-weight: 900;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 4em;
  margin-left: 5em;
  padding: 0.5rem;
}
#next:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 var(--clr-wrong);
  transition: transform 150ms;
  transform: scale(1.03);
}
/* finish screen */

.finish-screen {
  display: none;
  margin-top: 25vh;
  text-align: center;
}
.finish-screen h1 {
  color: rgb(180, 18, 99);
  font-size: 2.75rem;
  margin-bottom: 4em;
}
#submit_btn {
  margin-top: 1em;
}

/* highscores screen */

.highscores-screen {
  display: none;
  margin-top: 10vh;
}
.highscores-screen button {
  margin-top: 1em;
  align-items: center;
}
#clear_btn {
  margin-left: 4em;
}
